.input {
    background: transparent;
    outline: none;
    border: solid 2px var(--main-control-theme-darken);
    padding: 5px 10px;
    transition: .2s;
    color: rgba(255, 255, 255, 0.9);
}

.input:focus {
    background: transparent;
    border-color: var(--main-control-theme);
}