.button {
    padding: 5px 10px;
    background: var(--main-control-theme);
    color: #ffffff;
    transition: .2s;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background: var(--main-control-theme-darken);
}

.button.disabled,
.button.disabled:hover {
    background: lightgrey;
    color: grey;
}